BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
ContinuationIndentWidth: 4
BreakBeforeBraces: Attach
AlignAfterOpenBracket: AlwaysBreak
PointerAlignment: Left
DerivePointerAlignment: false
SpaceBeforeParens: ControlStatements
IndentCaseLabels: true
SortIncludes: false
IncludeBlocks: Preserve
BinPackParameters: false
BinPackArguments: false
BreakBeforeCloseBracketFunction: true
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
