.vscode/
__pycache__/
build/
dist/
wheelhouse*/
ext/
.pytest_cache/
.coverage
.vcpkg-cache/
.venv/
*.o
*.so
*.gcda
*.gcno
*.gcov
.codex/
AGENTS.md
.mypy_cache/
.clangd

# Nonstandard stuff I have for testing
*.egg-info/
.gdb_history
dbg_path.txt
benchmarking/results/
